body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6c6c6f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  color: white;
  font-weight: bold;
  background-color: #3333ad;
  height: 50px;
}

.card-body {
  cursor: pointer;
}

.review {
  background-color: white;
  width: 95%;
  margin: 2%;
}

.comment-form {
  width: 50%;
  margin: 2%;
}

.comment {
  background-color: white;
  width: 50%;
  margin: 2%;
}

.comment-body {
  margin: 5%;
}

.back-button::after {
  cursor: pointer;
  padding: 1%;
  content: ' \2715';
  font-size: 35px;
}

.edit-button::after {
  cursor: pointer;
  float: right;
  padding: 1%;
  content: ' \270E';
  font-size: 35px;
}